---
import { ENSADMIN_URL } from "astro:env/client";

import Header from "@components/organisms/Header.astro";
import Hero from "@components/overrides/Hero.astro";
import Layout from "../layouts/Layout.astro";
import JoinTelegram from "../components/molecules/JoinTelegram";
---

<Layout data-page="home">
  <Header />
  <Hero ensadminUrl={ENSADMIN_URL} />
  <section
    class="w-full h-fit box-border flex flex-col flex-nowrap justify-center items-center gap-10 sm:gap-20 p-5 sm:px-28 sm:py-[60px]">
    <JoinTelegram />
  </section>
</Layout>
