---
import Search from "@astrojs/starlight/components/Search.astro";
import SearchKeyboardShortcut from "../atoms/SearchKeyboardShortcut";
import { StarlightMagnifier } from "../atoms/icons/StarlightMagnifier";
---

<div class="relative group z-20">
    <div class="box-border cursor-pointer hidden min-[800px]:flex relative bg-white w-[30vw] max-w-[22rem] min-w-[14rem] h-[40px] flex-row flex-nowrap justify-between items-center pl-3 pr-2 text-[#4a5c63] text-base border border-[#c4c7c8] rounded-lg group-hover:text-black group-hover:border-[#4a5c63]">
        <div class="flex flex-row flex-nowrap justify-start items-center gap-2">
            <StarlightMagnifier />
            <p>Search the docs</p>
        </div>
        <div class="bg-white p-[2px] rounded text-gray-400 z-20">
            <SearchKeyboardShortcut client:visible/>
        </div>
    </div>
    <Search class="searchOverlay" />
    <button class="block min-[800px]:hidden">
        <StarlightMagnifier className="h-5 w-5 cursor-pointer"/>
    </button>
</div>
