---
import { Image } from "astro:assets";
import { Balancer } from "react-wrap-balancer";
import backgroundImage from "@assets/hero_bg_image.png";
import heroImage from "@assets/hero_image.png";
import { legacyButtonVariants } from "@namehash/namehash-ui/legacy";
---
<section class="w-full h-screen flex flex-col flex-nowrap justify-center items-center bg-black relative">
    <Image src={backgroundImage} alt="" aria-hidden="true" class="absolute w-full h-screen z-0 object-center object-cover select-none" quality={100}/>
    <div class="w-full max-w-[1280px] flex flex-col lg:flex-row justify-center sm:justify-between items-center gap-10 px-5 sm:px-8 max-lg:pt-20 max-sm:pb-8">
            <div class="relative z-10 not-content antialiased flex flex-col flex-nowrap gap-8 justify-center items-center lg:items-start">
        <div class="flex flex-col flex-nowrap justify-center items-start gap-4">
            <h1 class="max-w-[650px] w-full font-bold leading-10 sm:leading-[68px] text-4xl sm:text-[52px] text-white max-lg:text-center">
                The full-stack<br/>
                development platform<br/>
                for ENSv2
            </h1>
            <Balancer as="p" className="max-w-[650px] w-full text-base text-white leading-6 font-medium max-lg:text-center">
                Achieve full ENSv2 readiness even before ENSv2 launches.
            </Balancer>
        </div>
            <a
                    href="/docs/integrate"
                    class={legacyButtonVariants({ variant: "secondary", size: "medium", className: "hover:bg-gray-100" })}
            >
                    Quickstart guide
            </a>
            <Image src={heroImage} alt="ENSv2 badge" class="sm:hidden w-full max-w-[300px] pt-2 h-auto object-contain" quality={100}/>
    </div>
    <Image src={heroImage} alt="ENSv2 badge" class="hidden sm:block w-full max-w-[400px] lg:max-w-[505px] h-auto object-contain relative z-10" quality={100}/>
    </div>
</section>
