---
import { Image } from "astro:assets";
import { ENSADMIN_URL } from "astro:env/client";
import { Balancer } from "react-wrap-balancer";
import skies_image from "../../assets/hero_skies_image.png";
import { ENSAdminLogoLight } from "../atoms/logos/ENSAdminLogoLight";
---
<section class="bg-gradient-to-b from-[#4182B8] to-[#FEE7B7] w-full h-screen flex flex-col flex-nowrap justify-center items-center bg-cover bg-center bg-no-repeat">
    <Image src={skies_image} alt="background skies" class="absolute w-full h-screen z-0 object-center object-cover select-none" quality={100}/>
    <div class="relative z-10 not-content antialiased flex flex-col flex-nowrap gap-8 justify-center items-center text-center px-5 sm:px-0">
        <div class="flex flex-col flex-nowrap justify-center items-start gap-4">
            <h1 class="max-w-[600px] w-full font-bold leading-10 sm:leading-[68px] text-4xl sm:text-6xl text-white">The new multichain indexer
                for ENSv2</h1>
            <Balancer as="p" className="max-w-[600px] w-full text-base text-white leading-6 font-normal">Multichain
                indexer for ENS with ENS&nbsp;Subgraph backwards compatibility.
            </Balancer>
        </div>
        <div class="w-full flex flex-col sm:flex-row flex-nowrap justify-center items-center gap-4 sm:gap-8">
            <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href={ENSADMIN_URL}
                    class="no-underline hover:no-underline"
            >
                <button class="button-as-child cursor-pointer transition-all duration-200 bg-black hover:bg-[#272727] flex flex-row flex-nowrap justify-center items-center gap-2 rounded-lg pl-2 pr-3 py-2 text-white whitespace-nowrap text-base leading-6 font-medium">
                    <ENSAdminLogoLight className="w-[26px] h-auto"/>
                    Connect with ENSAdmin
                </button>
            </a>
            <a
                    href="/docs/"
                    class="h-fit"
            >
                <button class="h-[42px] box-border cursor-pointer transition-all duration-200 bg-white hover:bg-gray-50 border-[#DBDBDB] shadow-[0_1px_2px_0_rgba(0,0,0,0.05)] button-as-child text-black rounded-lg border font-medium inline-flex gap-2 items-center whitespace-nowrap underline-none py-[9xp] px-[17px] text-base leading-6">
                    Read the docs
                </button>
            </a>
        </div>
    </div>
</section>
