---
import { Image } from "astro:assets";
import { Balancer } from "react-wrap-balancer";
import skies_image from "@assets/hero_skies_image.png";
---
<section class="bg-gradient-to-b from-[#4182B8] to-[#FEE7B7] w-full h-screen flex flex-col flex-nowrap justify-center items-center bg-cover bg-center bg-no-repeat">
    <Image src={skies_image} alt="background skies" class="absolute w-full h-screen z-0 object-center object-cover select-none" quality={100}/>
    <div class="relative z-10 not-content antialiased flex flex-col flex-nowrap gap-8 justify-center items-center text-center px-5 sm:px-0">
        <div class="flex flex-col flex-nowrap justify-center items-start gap-4">
            <h1 class="max-w-[650px] w-full font-bold leading-10 sm:leading-[68px] text-4xl sm:text-6xl text-white">
                The full-stack<br/>
                development platform<br/>
                for ENSv2
            </h1>
            <Balancer as="p" className="max-w-[650px] w-full text-base text-white leading-6 font-medium">
                Achieve full ENSv2 readiness even before ENSv2 launches.
            </Balancer>
        </div>
        <div class="w-full flex flex-col sm:flex-row flex-nowrap justify-center items-center gap-4 sm:gap-8">
            <a
                    href="/docs/integrate"
                    class="h-[42px] box-border cursor-pointer transition-all duration-200 bg-black hover:bg-[#272727] button-as-child text-white rounded-lg font-medium inline-flex gap-2 items-center whitespace-nowrap underline-none py-[9px] px-[17px] text-base leading-6"
            >
                    Quickstart guide
            </a>
        </div>
    </div>
</section>
