---
import Search from "@astrojs/starlight/components/Search.astro";
import SearchKeyboardShortcut from "../atoms/SearchKeyboardShortcut";
import { StarlightMagnifier } from "../atoms/icons/StarlightMagnifier";
---

<div class="box-border hidden min-[800px]:flex relative z-10 bg-white w-[30vw] max-w-[22rem] min-w-[14rem] h-[40px] flex-row flex-nowrap justify-between items-center pl-3 pr-2 text-[#4a5c63] text-base border border-[#c4c7c8] rounded-lg hover:text-black hover:border-[#4a5c63]">
    <div class="flex flex-row flex-nowrap justify-start items-center gap-2">
        <StarlightMagnifier />
        <p>Search the docs</p>
    </div>
    <div class="bg-white p-[2px] rounded text-gray-400 z-20">
        <SearchKeyboardShortcut client:visible/>
    </div>
    <Search class="searchOverlay" />
</div>
