---
import { Aside } from "@astrojs/starlight/components";

const { ensDbWriterSchemaName = "ensindexer_0" } = Astro.props;
---

<Aside type="note" title="What is an ENSDb Writer Schema?">
  <p>
    An <a href="/docs/services/ensdb/concepts/glossary#ensdb-writer-schema">ENSDb Writer Schema</a> is
    a database schema within an <a href="/docs/services/ensdb/concepts/glossary#ensdb-instance"
      >ENSDb instance</a
    >, used to store indexed ENS data from a given <a
      href="/docs/services/ensdb/concepts/glossary#ensdb-writer">ENSDb Writer</a
    > instance. We use <code>{ensDbWriterSchemaName}</code> as the <a
      href="/docs/services/ensdb/concepts/glossary#ensdb-writer-schema-name"
      >ENSDb Writer Schema Name</a
    > in examples on this page, but your <a
      href="/docs/services/ensdb/concepts/glossary#ensdb-writer">ENSDb Writer</a
    > instance may be configured to use a different schema name. Make sure to replace
    <code>{ensDbWriterSchemaName}</code> with the actual schema name used by your ENSDb Writer instance
    when querying the ENSDb instance directly. For example, <a
      href="/docs/services/ensdb/concepts/glossary#ensindexer">ENSIndexer</a
    > allows configuring its own ENSDb Writer Schema Name with the <code
      >ENSINDEXER_SCHEMA_NAME</code
    > environment variable.
  </p>
</Aside>
