---
import { Aside } from "@astrojs/starlight/components";
---

<Aside type="note" title="Connect with ensdb-sdk">
  See how to connect to ENSDb and get access to the <code>ensDb</code> query builder and <a
    href="/docs/services/ensdb/concepts/glossary#ensdb-writer-schema"
    ><code>ensIndexerSchema</code>
    schema definition</a
  > in the <a href="/docs/integrate/unigraph/examples">Connect</a> example if you haven't already.
</Aside>
