---
import { Aside } from "@astrojs/starlight/components";
---

<Aside type="note" title="Reading data from your ENSDb">
  See how to connect to ENSDb and get access to the <code>ensDb</code> query builder and <code
    >ensIndexerSchema</code
  >
  schema definition in the <a href="/docs/integrate/unigraph/examples">Connect</a> section if you haven't
  already.
</Aside>
