---
import { Aside } from "@astrojs/starlight/components";

const ensNodeSchemaName = "ensnode";
---

<Aside type="note" title="What is ENSNode Schema?">
  The <a href="/docs/services/ensdb/concepts/glossary#ensnode-schema">ENSNode Schema</a> is a database
  schema within an <a href="/docs/services/ensdb/concepts/glossary#ensdb-instance">ENSDb instance</a
  >, used to store metadata about <a href="/docs/services/ensdb/concepts/glossary#ensdb-writer"
    >ENSDb Writer</a
  > instances that have ever connected to the ENSDb instance. There can be only one ENSNode Schema per
  ENSDb instance, and its name is always <code>{ensNodeSchemaName}</code>.
</Aside>
