---
---

<section
  class="not-content w-full h-fit flex flex-col justify-start items-center gap-0 border border-gray-200 rounded-xl overflow-hidden">
  <h2
    class="w-full text-center text-balanced text-sm leading-6 font-semibold text-gray-500! px-2.5 py-1.5">
    Upgrade to the ENS Omnigraph required
  </h2>
  <slot />
</section>
